.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: white;   
    cursor: pointer;
}

.header__logo {
    height: 50px;
    object-fit: contain;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__input > input {
    flex: 1;
    border: none;
}

.header__searchIcon {
    background-color: #fafafa;
    width: 50px !important;
    border-left: 1px solid lightgray;
    color: gray;
}

.header__micIcon {
    width: 50px !important;
}

.header__input {
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid lightgray;
    
}

.header__icons {
    display: flex;
    align-items: center;
}

.header__micIcon {
    margin-right: 50px;
}

.header__icon {
    padding: 8px;
}

.header__leftMenu {
    margin-right: 20px;
}