.login {
    background-color: white;
    place-items: center;
    display: grid;
    height: 100vh;
    width: 100vw;
}

.login__container {
    padding: 100px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12);
}

.login__container > img {
    object-fit: contain;
    height: 100px;
    margin-bottom: 40px;
}

.login__container > Button {
    margin-top: 50px;
    text-transform: inherit !important;
    background-color: rgb(202, 32, 32);
    color: white;
}

.login__container:hover {
    opacity: 0.7;
    border: 1px solid lightgray;
}